nav {
  margin: .5rem 0;
  display: flex;
  justify-content: left;
  a {
    text-decoration: none;
    padding: .5rem;
    margin: 0 .5rem;
    border-radius: .4rem;
    color: black;
    font-weight: bold;
    background-color: lightgrey;
    &:hover {
      transition: .3s;
      background-color: grey;
      color: white;
    }
  }
}

.layout {
  position: relative;
}

.section-container {
  border: .1rem solid;
  display: flex;
  div {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}