@import "reset";

.layout {
  position: relative;
}

.section-container {
  border: .3rem solid;
  display: flex;

  &__not-responsive {
    display: block;
  }
}

.color-layout{
  &__container {
    display: flex;
  }

  &__item {

  }
  &__layout {
    flex: 1 1 auto;
  }
}

.color-component{
  &__item {
    margin: 1rem;
  }
  &__color{
    flex: 1 1 auto;
    padding: 2rem;
  }
}