@import "reset";

.title {
  text-align: center;
  margin: 1rem 0 0 0;
  font-size: 3rem;
}

.layout {
  position: relative;

  a {
    border: 0;

    &:hover {
      transition: .3s;
      background-color: rgba(0, 0, 0, .1);
    }
  }
}

.section-container {
  border: .3rem solid black;
  display: flex;

  &__not-responsive {
    display: block;
  }

  a > & {
    padding-right: .6rem;
  }
}

.color-layout {
  &__container {
    display: flex;
  }

  &__list {
    width: 23.5rem;
  }

  &__layout {
    flex: 1 1 auto;
  }
}

.color-component {
  &__item {
    margin: 1rem;
    font-weight: bold;
    font-size: 1.5rem;
    cursor: grab;
  }

  &__color {
    flex: 1 1 auto;
    padding: 2rem;
    color: #000;
    font-weight: bold;
    font-size: 1.5rem;
  }

  &__empty {
    margin: 1rem;
    padding: 1rem 2rem;
    border: .1rem solid;
    font-weight: bold;
    font-size: 1.5rem;
  }
}